<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computer security concepts</title>
</head>
<body>
    <h2>definition</h2>
    <p><i>Computer security pertains to the measures taken to safeguard an automated information system, which aim to achieve the goals of maintaining the integrity, availability, and confidentiality of the system's resources. These resources include hardware, software, firmware, data or information, and telecommunications.</i>
        This definition of computer security outlines three crucial objectives that are essential to protect information systems. These objectives are:

        1. Confidentiality: This objective involves ensuring that private or confidential information is not disclosed to unauthorized individuals. It includes two related concepts: data confidentiality and privacy. Privacy guarantees that individuals have control over the collection, storage, and disclosure of information related to them.
        
        2. Integrity: This objective includes two related concepts: data integrity and system integrity. Data integrity ensures that information and programs are changed only in an authorized and specified manner. System integrity guarantees that a system performs its intended function without unauthorized manipulation.
        
        3. Availability: This objective ensures that authorized users have prompt access to computing services and systems, without service denial. 
        
        Together, these three concepts form the CIA triad, which is the foundation of computer security. The National Institute of Standards and Technology (NIST) standard FIPS 199 identifies confidentiality, integrity, and availability as the three security objectives for information and information systems. FIPS 199 explains the loss of security for each objective: unauthorized disclosure of information for confidentiality, unauthorized modification or destruction of information for integrity, and disruption of access or use of information or a system for availability.</p>
    
</body>
</html>